<mat-sidenav-container fullscreen>
  <app-nav-bar></app-nav-bar>
  <!-- Cabecera -->
<header class="text-center">
  <div class="container">
      <h1 class="display-4">Sobre Nosotros</h1>
      <p class="lead">Descubre más sobre nuestra historia y compromiso con la salud de tus animales.</p>
  </div>
</header>

<!-- Contenido principal -->
<main class="container">
  <div class="row">
      <div class="col-lg-6">
          <h2>Nuestra Historia</h2>
          <p>
              En Vitaminas Animal, nos dedicamos a proporcionar productos de alta calidad que contribuyan al bienestar de tus mascotas.
          </p>
          <p>
              Fundada en el año XXXX, nuestra empresa ha crecido gracias a la confianza de nuestros clientes y a la dedicación de nuestro equipo.
          </p>
      </div>
      <div class="col-lg-6">
        <img src="../../../../assets/img/animales/cuy.jpg">
      </div>
  </div>

</main>

<app-footer></app-footer>
</mat-sidenav-container>
