<mat-sidenav-container fullscreen>
  <app-nav-bar></app-nav-bar>
  <div id="contact">
    <div id="contact-banner" class="d-flex flex-column justify-content-center align-items-center  ">
      <div id="contact-banner-titulo" >
        <h1>Contáctanos</h1>
      </div>
      <hr>
      <div id="contact-banner-texto" class="text-center">
        <p>Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae. </p>
      </div>
    </div>

    <div id="contact-banner-items" class="d-flex flex-wrap justify-content-center align-items-center ">

      <div class="contact-banner-item">
        <div class="contact-banner-item-titulo text-center">
          <h3>Negocios</h3>
        </div>
        <div class="contact-banner-item-texto text-center">
          <p>Nam auctor consequat ex, non dignissim velit. Maecenas tincidunt volutpat commodo.</p>
        </div>
        <div class="contact-banner-item-contacto text-center">
          <p>contacto&#64;gmail.com</p>
        </div>
      </div>

      <div class="contact-banner-item">
        <div class="contact-banner-item-titulo text-center">
          <h3>Negocios</h3>
        </div>
        <div class="contact-banner-item-texto text-center">
          <p>Nam auctor consequat ex, non dignissim velit. Maecenas tincidunt volutpat commodo.</p>
        </div>
        <div class="contact-banner-item-contacto text-center">
          <p>contacto&#64;gmail.com</p>
        </div>
      </div>

      <div class="contact-banner-item">
        <div class="contact-banner-item-titulo text-center">
          <h3>Negocios</h3>
        </div>
        <div class="contact-banner-item-texto text-center">
          <p>Nam auctor consequat ex, non dignissim velit. Maecenas tincidunt volutpat commodo.</p>
        </div>
        <div class="contact-banner-item-contacto text-center">
          <p>contacto&#64;gmail.com</p>
        </div>
      </div>


    </div>

    <div id="contact-form" class="d-flex flex-column justify-content-center align-items-center  ">
      <div id="contact-form-titulo" >
        <h1>Habla con nostros</h1>
      </div>
      <hr>
      <div id="contact-form-texto" class="text-center">
        <p>Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae. </p>
      </div>
      <div id="contact-form-body" class="w-100">
        <form>
          <div class="col-12 d-flex flex-wrap justify-content-center align-items-center">
            <div class="m-3 col-5">
              <label for="exampleInputEmail1" class="form-label">Nombre</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                   </div>
            <div class="m-3 col-5">
              <label for="exampleInputEmail1" class="form-label">Apellido</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </div>
          <div class="col-12 d-flex flex-wrap justify-content-center align-items-center" id="correo-telefono">
            <div class="m-3 col-5">
              <label for="exampleInputEmail1" class="form-label">Correo</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                   </div>
            <div class="m-3 col-5">
              <label for="exampleInputEmail1" class="form-label">Telefono</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </div>
          <div class="col-12 d-flex flex-wrap justify-content-center align-items-center" id="mensaje">
              <div class="form-floating col-12 d-flex flex-column justify-content-center align-items-center" >
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Comentarios</label>
              </div>
          </div>

          <div id="contact-form-body-footer">
            <button type="submit" class="btn btn-primary float-end m-5">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</mat-sidenav-container>

