.example-form-field{
  width: 20vw;
}
.example-card {
  width: 18vw;
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.content-img{
  width: 100px;
}
.my-pagination ::ng-deep .ngx-pagination .current {
  background: #2196F3;
}
mat-card-header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mat-mdc-card-header-text{
  width: 100%;
}
mat-form-field{
  min-width: 300px;
}
