h1{
  background-color: #d2d2d3;
  font-size: 30px;
  width: 100%;
  padding: 15px;
}
#main{
  width: 100%;
  transform: translateY(60px);
}
.main-descripcion{
  width: 90vw;
  height: 70vh;
  text-align: center;
  background-image: url("https://i.imgur.com/tzOcJXv.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 1vh;
  color: white;
}
.main-descripcion>img{
  width: 36vw;
  height: 60vh;
  text-align: center;
  float: left;
}
.main-descripcion>p{
  width: 41vw;
  text-align: center;
}
#main-descripcion-oferta{
  text-align: center;
  margin-bottom: 5%;
}
#main-descripcion-oferta>img{
  width: 40vw;
  min-width: 400px;
}
#main-descripcion-oferta>.main-descripcion-info{
  width: 40vw;
  min-width: 400px;
}
.example-form-field{
  width: 20vw;
}
.example-card {
  width: 500px;
  max-width: 200px;
  min-width: 250px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.content-img{
  width: 70px;
}
.main-descripcion-oferta-item{
  background-color: #24aff4;
  width: 280px;
  height: 280px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}
.other-color{
  background-color:#b3e6ff ;
}
.other-color>h4{
  color: black;
}
h4{
  color: white;
}

.producto-item{
  width: 100%;
  margin-right: 10%;
  margin-top: 7vh;
  margin-bottom: 7vh;
}
/*.last-item{
  margin-bottom: 25vh!important;
}*/

.producto-item-img-fondo{
  /*background-image: linear-gradient(34deg,rgb(61, 121, 194) 0%,#fb6178 100%);*/
  background-color: #b3e6ff;
  width: 50%;
  height: 270px;
  min-width: 370px;
}
.producto-item-img-fondo img{
  height: 60vh;
  width: auto;
}
.producto-item-texto{
  padding: 5vw;
  width: 50%;
  min-width: 370px;
  height: 270px;
  box-shadow: 6px 20px 10px rgb(119, 113, 113);
}

.producto-item-img-fondo2{
  /*background-image: linear-gradient(34deg,#fb6178 0%,rgb(61, 121, 194)  100%);*/
  background-color: #b3e6ff;
  width: 50%;
  height: 270px;
  min-width: 370px;
}
.producto-item-img-fondo2 img{
  height: 60vh;
  width: auto;
}
.producto-item-texto2{
  padding: 5vw;
  width: 50%;
  min-width: 370px;
  height: 270px;
  box-shadow: -5px 14px 10px rgb(119, 113, 113);
}
.contenedor{
  min-height: 65vh;
  width: 90vw;
}
#contenedor1{
background-color: #d2d2d3;
}
#contenedor2{
  background-color: #d2d2d3;

}
#contenedor3{
  background-color: #d2d2d3;
}
/*#carouselExampleInterval2{
  height: 400px;
}*/
#carouselExampleIndicators{
  margin-bottom: 5%;
}
#all-products{
  width: 100%;
  transform: translateY(60px);
}
#lista-productos{
  width: 100%;
}
mat-card{
  background-color: #b3e6ff;
}
mat-card-header{
  width: 100%;
  background-color: #24aff4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
mat-card-title{
  color: white;
}
mat-card-subtitle{
  color: white;
}
#carouselExampleInterval{
  margin-top: 4vh;
  min-height: 500px;
  min-height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#carouselExampleInterval2{
  margin-top: 4vh;
  min-height: 500px;
  min-height: 68vh;
  margin-bottom: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel-inner{
  height: inherit;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: initial;
}
.carousel-item{
  height: 80%;
  margin-top: 10%;
}
