@font-face {
  font-family: SquareKi;
  src: url("../../../assets/fonts/sqr721ki.ttf");
}
@font-face {
  font-family: SquareBi;
  src: url("../../../assets/fonts/sqr721bi.ttf");
}
@font-face {
  font-family: SquareReg;
  src: url("../../../assets/fonts/Typo_Square_Regular.otf");
}
nav {
  background-color: #24aff4 !important;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 60px;
}

#nav-bar-big {
  height: 100%;
  display: flex;
  align-items: center; /* Centrar verticalmente los elementos */
}

a {
  color: white;
  font-family: SquareReg;
  font-size: 17px;
}

a:hover {
  color: rgb(160, 153, 153);
}

#nav-bar-content {
  height: 100% !important;
  display: flex; /* Añadir esta propiedad para permitir flexibilidad */
  align-items: center; /* Centrar verticalmente los elementos */
}

.navbar-brand {
  display: flex; /* Añadir esta propiedad para permitir flexibilidad */
  align-items: center; /* Centrar verticalmente los elementos */
}

.navbar-brand > img {
  max-height: 80px;
  height: 60px; /* Cambiar a 'max-height' para que no exceda la altura de su contenedor */
  background-color: white;
  padding: 5px; /* Opcional: Añadir relleno si es necesario */
}
