<div id="banner" class="d-flex flex-column text-center align-items-center">
  <div class="container mt-5" id="banner-descripcion">
    <div class="row">
      <div class="col-lg-6">
        <!-- Puedes agregar aquí una imagen representativa de tu empresa -->
      </div>
        <div class="col-lg-6" id="banner-texto">
            <h1 class="display-4">Bienvenido a INDUQUIMIRL</h1>
            <p class="lead">Ofrecemos vitaminas de alta calidad para mejorar la salud y bienestar de tus animales.</p>
            <a href="#productos" class="btn btn-primary btn-lg">Ver Más</a>
        </div>

    </div>
</div>
</div>
