#banner{
  background-image: url('../../../assets/img/banner1.jpg');
  width: 100%;
  min-height: 20vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transform: translateY(60px);
}
h2{
  color: white;
  font-size: 25px
}
p{
  font-size: 16px;
  color: white;
}
h1{
  color: #24aff4;
  font-size: 4vw;
}
h3{
  color: white;
  margin-top: 14vh;
}
#banner-descripcion{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button{
  width: 200px;
  margin-top: 40vh;
}
.linea{
  background-color: white;
}
a{
  width: 100px;
  height: 40px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}
#banner-texto{
  background-color: rgba(0, 0, 0, 0.41);
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#linea{
  width: 50%;
  background-color: #24aff4;
  height: 9px;
  border: none;
  margin: 0;
  opacity: none;
}
