.container{
  width: 99vw !important;
}
#producto-img{
  width: 40vw;
  text-decoration: none;
  color: white;
  min-width: 400px;
}
#producto-img>img{
  width: 14vw;
}
#producto-descripcion{
  width: 40vw;
  min-width: 400px;
}
#producto-img-button{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#producto-img-button-left{
  width: 49%;
}
#producto-img-button-rigth{
  width: 49%;
}
#producto-img-lista{
  width: 100%;
  overflow-x: scroll;
}
.producto-img-lista-item{
  width: 4vw;
  margin: 1rem;
}
#producto-img-main{
  margin-top: 5%;
  max-height: 450px;
  min-width: 180px;
  height: 60vh;
  width: auto;
}
#producto-titulo{
  width: 100%;
  justify-content: right!important;
}
#producto-titulo h3{
  width: 60%;
  color: white;
  border-radius: 10px  0 0 10px;
  padding: 0.7rem;
}
#contenedor{
  margin-top: 12vh;
}
#producto-imagenes{
  margin-bottom: 1rem;
}
#producto-imagenes>img{
  width: 33.3%;
}
#detalle-producto{
  width: 100%;
}
h5{
  width: 40%;
  padding: 15px;
  border-radius: 12px;
}
#detalle-producto-composicion{
  width: 20vw;
}
#detalle-producto-dosificacion{
  width: 20vw;
}
